.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}
.modal{
  background-color:rgb(168,146,238);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 15vh;
  left: 33%;
  width: 30%;
  z-index: 100;
}
.header {
  background:rgb(79,0,95);
  padding: 1rem;
  border-radius: 12px;

}
  
.header h2 {
  margin: 0;
  color: white;
}
  
.content {
  padding: 1rem;
  color:rgb(255, 255, 255);
  font-weight: bold;
}
.actions button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid rgb(64,0,93) ;
  background-color: rgb(64,0,93);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}